@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic");

#main {
  margin-left: 0px;
  transition: all 0.5s;
}
#main.menu-show {
  margin-left: 250px;
}
a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.hamburger-menu-toggler {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}

.hamburger-menu-toggler .fas {
  color: #c9c9c9;
}

.hamburger-menu {
  position: fixed;
  width: 0px;
  overflow-x: hidden;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: #111;
  padding-top: 60px;
  transition: all 0.5s;
}

.hamburger-menu.show {
  width: 250px;
}

.hamburger-menu a {
  text-decoration: none;
  color: #818181;
  display: block;
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
  font-size: 1.5rem;
}

.hamburger-menu a:hover {
  color: #f1f1f1;
}

.hamburger-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 95vh;
  text-align: center;
  background: url("https://guide.karpaty.ua/assets/slide1-1366-a0b860171b5c72801d874f3f673efdaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans";
}

.logo {
  height: 70px;
  margin-top: 30px;
}

.header-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header-text div {
  margin-top: -100px;
}

.text-between {
  color: #3d3d3d;
}

.category {
  height: 300px;
  overflow: hidden;
}

.category div h3 a {
  color: #fff;
}

.div-with-button {
  background: #f1f1f1;
}

.regions {
  height: 500px;
  color: white !important;
  padding: 0 50px;
}

.regions .region-inner {
  width: 700px;
}

.regions ul li {
  background: rgba(0, 0, 0, 0.6);
  padding: 3px;
  font-size: 0.8rem;
  margin: 0 !important;
}

footer {
  background: linear-gradient(to left, #04a6c3 0%, #175685 100%);
}

footer .container-fluid a img {
  width: 40px;
  height: 47px;
}

footer .container-fluid .list-inline li a {
  background: url("https://guide.karpaty.ua/assets/social-bd10c23de4873672eb5face1262407ea.png");
  display: block;
  height: 45px;
  width: 45px;
}

footer .container-fluid .list-inline li a.facebook {
  background-position: -180px 0;
}

footer .container-fluid .list-inline li a.vk {
  background-position: -90px 0;
}

footer .container-fluid .list-inline li a.gplus {
  background-position: -45px 0;
}

footer .container-fluid .list-inline li a.instagram {
  background-position: 0 0;
}

footer .container-fluid .list-inline li a.twitter {
  background-position: -135px 0;
}

footer .container-fluid .list-inline li a.facebook:hover {
  background-position: -180px -45px;
}

footer .container-fluid .list-inline li a.vk:hover {
  background-position: -90px -45px;
}

footer .container-fluid .list-inline li a.gplus:hover {
  background-position: -45px -45px;
}

footer .container-fluid .list-inline li a.instagram:hover {
  background-position: 0 -45px;
}

footer .container-fluid .list-inline li a.twitter:hover {
  background-position: -135px -45px;
}

footer .container-fluid a .webmil {
  width: 35px;
  height: 27px;
}

hr {
  background-color: #fafeff2b;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: -1;
  transition: all 1.5s;
}

.bg-1 {
  background: url("https://guide.karpaty.ua/uploads/categories/5501d2584b61727c5e5c0000/naseleni-punkty.jpg");
}

.bg-2 {
  background: url("https://guide.karpaty.ua/uploads/categories/5501c3354b61727c5e570000/hiking.jpg");
}

.bg-3 {
  background: url("https://guide.karpaty.ua/uploads/categories/5501cbaf4b61727c5e5a0000/vodni2.jpg");
}

.bg-4 {
  background: url("https://guide.karpaty.ua/uploads/categories/5501cb434b61727c5e590000/extreme3.jpg");
}

.bg-5 {
  background: url("https://guide.karpaty.ua/uploads/locations/551969884b617203a0060000/w1366x556_schidni-beskydy.jpg");
}

.bg-6 {
  background: url("https://guide.karpaty.ua/uploads/locations/5524ef144b617249a52c0000/w1366x556_dragobrat3.jpg");
}

.bg-7 {
  background: url("https://guide.karpaty.ua/uploads/locations/55005e0e4b61722586040000/w1366x556_yaremche.jpg");
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.category a:hover .bg {
  transform: scale(1.2);
}

.category > a {
  height: 100%;
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }

  body.menu-show {
    overflow: hidden;
  }

  #main.menu-show {
    margin-left: 0;
  }

  .hamburger-menu {
    transition: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .hamburger-menu.show {
    width: 100%;
  }

  .hamburger-menu a {
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
  }

  .hamburger-menu .closebtn {
    font-size: 4rem;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}
