@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800&subset=cyrillic');

body {
    font-family: "Open Sans", sans-serif;
  	font-size: 1.125em;
	line-height: 1.75em;
    color: #3d3d3d;
    font-weight: 400;
}

a{
	color: #000;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
	color: #000;
}

header{
	background-image: url("https://calendar.karpaty.ua/uploads/event/big_photo/58da31a34b61720fc31e0000/big.jpg");
	height: 664px;
	min-width: 1545px;
	background-size: all;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

h3{
	font-size: 1.875em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.33333em;
}

h4{
	font-weight: bold;
}

h5{
	font-size: 0.75em;
	text-transform: uppercase;
	margin-bottom: 0px; 
}

header p{
	font-weight: bold;
}

main p{
	margin-top: 20px;
	margin-left: 40px;
}

#textall ul{
	list-style: none;
	display: inline-block;
    text-align:left;
}

#textall ul li::before {
	content: "■"; 
	font-weight: bold;
	color: #00b1c6;
  	display: inline-block;
  	width: 1em;
  	margin-left: -1em;
}

#title-white{
	background-color: #fff;
}

.date{
	font-size: 1.5em;
	color: #00b1c6;
	font-weight: normal;
}

.logo-main{
	padding-top: 30px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.col-12{
	background-color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

 #button-large{
    padding: 10px 40px;
    font-size: 18px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.button_do{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

button{
	text-transform: uppercase;
}

.appartment_title{
	font-size: 1.75em;
	font-weight: normal;
}

.appartment_offers{
	font-size: 0.9em;
	text-align: center;
	padding-bottom: 20px;
}

.logo-blue{
	height: 50px;
	width: 60px;
	margin-bottom: 20px;
}

.card{
	margin: 10px;
}

.card-image{
	position: relative;
}

.card-title{
	text-align: left;
	color: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	background:rgba(0,0,0,0.5);
	width: 100%;
	padding: 10px;
}

.card-info{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	background:rgba(0,0,0,0.5);
	text-align: left;
}

.price, .location{
	float: left;
	color: #00b1c6;
}

.reserve, .comments{
	text-align: right;
	text-decoration: none;
	color: #000;
}

.location, .comments{
	color: #fff;
}

.card:hover{
    border: 2px solid #00b1c6;
}

/*hr {
  background-color: #fafeff2b;
}*/

.col-12{
	background-color: unset;
}
footer {
  background: linear-gradient(to left, #04a6c3 0%, #175685 100%);
}

footer a {
  color: white;
}

footer h6 {
  color: white;
  opacity: 0.3;
}

footer a footer ul li a {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer .container-fluid {
  color: white;
}

footer .container-fluid a img {
  width: 40px;
  height: 47px;
}

footer .container-fluid .list-inline li a {
  background: url("https://guide.karpaty.ua/assets/social-bd10c23de4873672eb5face1262407ea.png");
  display: block;
  height: 45px;
  width: 45px;
}

footer .container-fluid .list-inline li a.facebook {
  background-position: -180px 0;
}

footer .container-fluid .list-inline li a.vk {
  background-position: -90px 0;
}

footer .container-fluid .list-inline li a.gplus {
  background-position: -45px 0;
}

footer .container-fluid .list-inline li a.instagram {
  background-position: 0 0;
}

footer .container-fluid .list-inline li a.twitter {
  background-position: -135px 0;
}

footer .container-fluid .list-inline li a.facebook:hover {
  background-position: -180px -45px;
}

footer .container-fluid .list-inline li a.vk:hover {
  background-position: -90px -45px;
}

footer .container-fluid .list-inline li a.gplus:hover {
  background-position: -45px -45px;
}

footer .container-fluid .list-inline li a.instagram:hover {
  background-position: 0 -45px;
}

footer .container-fluid .list-inline li a.twitter:hover {
  background-position: -135px -45px;
}

footer .container-fluid a .webmil {
  width: 35px;
  height: 27px;
}
