@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800&subset=cyrillic");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 400;
  line-height: 1.5;
  background-color: #e8e8e8;
}

header a {
  color: #fff;
}

header {
  background-image: url("https://calendar.karpaty.ua/uploads/offering_photo/photo/58dba1944b61720fc31f0000/banner-calendar_e2d60a3b-3f4f-466c-a48a-30ba5b98ae89.jpg");
  height: 442px;
  min-width: 400px;
  background-size: all;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h3 {
  font-size: 1.875em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.33333em;
}

h4 {
  font-size: 1.875em;
  display: block;
  text-align: center;
}

h5 {
  font-size: 1.375em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

header h3 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h3 a:hover {
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
}

main {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #fff;
}

.logo-main{
  padding-top: 30px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slide {
  text-align: center;

  display: block;
  margin: 1.5em auto 0em;
  max-width: 47.8125em;
}

.container {
  padding-top: 10px;
}

.card {
  margin: 10px;
}

.card-image {
  position: relative;
}

.card-title {
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.card-breadcrumbs {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.card-breadcrumbs span {
  font-size: 0.75em;
  color: #fff;
}

.date {
  float: left;
  color: #00b1c6;
}

.price {
  text-align: right;
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.btn {
  padding: 15px 25px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.button_more {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.list {
  display: flex;
}

.list-item {
  flex: 50%;
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.list-item h3 {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%);
}

hr {
  background-color: #fafeff2b;
}

footer {
  background: linear-gradient(to left, #04a6c3 0%, #175685 100%);
}

footer a {
  color: white;
}

footer h6 {
  color: white;
  opacity: 0.3;
}

footer a footer ul li a {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer .container-fluid {
  color: white;
}

footer .container-fluid a img {
  width: 40px;
  height: 47px;
}

footer .container-fluid .list-inline li a {
  background: url("https://guide.karpaty.ua/assets/social-bd10c23de4873672eb5face1262407ea.png");
  display: block;
  height: 45px;
  width: 45px;
}

footer .container-fluid .list-inline li a.facebook {
  background-position: -180px 0;
}

footer .container-fluid .list-inline li a.vk {
  background-position: -90px 0;
}

footer .container-fluid .list-inline li a.gplus {
  background-position: -45px 0;
}

footer .container-fluid .list-inline li a.instagram {
  background-position: 0 0;
}

footer .container-fluid .list-inline li a.twitter {
  background-position: -135px 0;
}

footer .container-fluid .list-inline li a.facebook:hover {
  background-position: -180px -45px;
}

footer .container-fluid .list-inline li a.vk:hover {
  background-position: -90px -45px;
}

footer .container-fluid .list-inline li a.gplus:hover {
  background-position: -45px -45px;
}

footer .container-fluid .list-inline li a.instagram:hover {
  background-position: 0 -45px;
}

footer .container-fluid .list-inline li a.twitter:hover {
  background-position: -135px -45px;
}

footer .container-fluid a .webmil {
  width: 35px;
  height: 27px;
}

.card:hover{
    border: 2px solid #00b1c6;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-image:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: -1;
  transition: all 1.5s;
}

.bg-1 {
  background-image: url(https://calendar.karpaty.ua/uploads/categories/558424814b61722d0e030000/category.jpg);
}

.bg-2 {
  background-image: url(https://calendar.karpaty.ua/uploads/categories/56962e254b6172459e070000/pohodu-v-gory.jpg);
}

.list-item:hover .bg {
  transform: scale(1.2);
}
